@{
    ViewData["Title"] = "Home Page";
    ViewData["HeaderTitle"] = "Welcome to Institute";
    ViewData["HeaderSubTitle"] = "Where your dreams come true";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Institute</h1>
    <p>Learn <a href="https://learn.microsoft.com/aspnet/core">more</a>.</p>
</div>
