<div class="container mt-5">
  <div class="row">
    <div class="col-12">
      <h1 class="text-center">Products</h1>
    </div>
  </div>
  <div class="row">
    @for (item of products; track $index) {
      <div class="col-4">
        <div class="card m-1">
          <img src="{{item.img}}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{item.name}}</h5>
            <p class="card-text">Price: ${{item.price}}</p>
            <p class="card-text">Quantity: {{item.quantity}}</p>
            @switch (item.quantity) {
              @case(0) {
                <p class="text-danger">Out of Stock</p>
              }
              @case (1) {
                <button class="btn btn-warning">Buy Now</button>
              }
              @default {
                <button class="btn btn-success">Add to Cart</button>
              }
            }
          </div>
        </div>
      </div>
    }
  </div>
</div>
