<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="text-center">Get Started with <span>Little</span> Fashion</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-2">
      <p class="text-center">Introduction</p>
      <p class="text-center">How we work</p>
      <p class="text-center">Capabilities</p>
    </div>

    <div class="col-5">
      <img src="images/getStarted/1.jpeg" alt="" />
    </div>

    <div class="col-5">
      <h3>
        Good <span>Design</span> <br />
        Ideas for <span>your</span> fashion
      </h3>
      <p>
        Little Fashion templates comes with sign in / sign up pages, product
        listing / product detail, about, FAQs, and contact page. Since this HTML
        template is based on Boostrap 5 CSS library, you can feel free to add
        more components as you need.
      </p>
    </div>
  </div>
</div>
