<div class="">
  <div class="card m-1">
    <img src="{{ product.img }}" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">{{ product.name }}</h5>
      <p class="card-text">Price:
        @if(oldPrice) {
        <del>${{ oldPrice }}</del>
        }
        ${{ product.price }}
      </p>
      <p class="card-text">Quantity: {{ product.quantity }}</p>
      @switch (product.quantity) { @case(0) {
      <p class="text-danger">Out of Stock</p>
      } @case (1) {
      <button class="btn btn-warning">Buy Now</button>
      } @default {
      <div class="row text-center">
        <div class="col-6">
          <button class="btn btn-danger" (click)="remove()">Remove</button>
        </div>
        <div class="col-6">
          <button class="btn btn-success" (click)="discount()">Discount</button>
        </div>
      </div>
      } }
    </div>
  </div>
</div>
