<footer class="footer">
  <form action="">
      <div class="row">
          <div class="input">
              <label for="name">Name</label>
              <input type="text" name="name">
          </div>
          <div class="input">
              <label for="email">Email</label>
              <input type="email" name="email">
          </div>
      </div>
      <div class="row">
          <div class="input-message">
              <label for="message">Message</label>
              <textarea name="message" id="message" cols="94" rows="15"></textarea>
          </div>
      </div>
      <div class="row row-bottom">
          <button class="button-main btn btn-success">Send Message</button>
      </div>
  </form>
</footer>
