<button class="btn btn-primary">
    <a style="text-decoration:none" class="text-white" href="/Product/All">Back to Products</a>
</button>

<div class="card m-auto" style="width: 18rem;">
    <img src="/Images/@Model.ImageUrl" class="card-img-top" alt="...">
    <div class="card-body">
        <p class="fs-3">@Model.Name</p>
        <p class="fs-5">@Model.Price L.E</p>
    </div>
</div>